@media screen and (max-width:576px) {

    #navigation{
       flex-direction: column;
       padding: 20px;
       
       
    }
    .nav-1{
        flex-direction: column;
        }
        .nav-2 a{
            flex-direction: column;
          
        }
    .sec-start{
        
        flex-direction: column;
        width: 1100px;
        margin-left: 0px;
    
        
    }
    #exploring{
        margin: 10px auto 0;
    }
    #para{
        margin: 10px auto 0;
        color:#FFF;
    }
    
    .sec-start-2{
        flex-direction: column;
        
        margin: 10px 450px 10px 450px;
    }
    container{
        flex-direction: column;
        margin-left: 0%;
        
        
    }
    .image-part{
        display: grid;
        flex-direction: column;
    }
    .image-part img{
        width: 100%;
    }
    .section-3{
        display:grid;
      grid-template-columns: repeat(1fr,1);
        gap: 20px;
        margin-left: 300px;
        
    
    }
    .last-part{
        margin-left: -100px;
    }
    .end-sec{
        
        flex-direction: column;
        gap: 20px;
    }
    .discount{
        position: relative;
        left: 250px;
        bottom: 180px;
    }
    hr{
        width: 400px;
    }
    .catch{
        background:linear-gradient(red, blue,yellow) ;
        color:#FFF;
    }
    .main-last{
      display: grid;
      flex-direction: column;
      margin-top: 1000px;
      width: 1700px;
      
    
    }
    
    
    }
    @media screen and (min-width:576px) and (max-width:992){
        container{
            flex-direction: column;
    
        }
       
        }